<section class="section1">
  <article class="slide-article">
    <div class="main-bg swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-img__first">
          <div class="swiper-info">
            <div class="area">
              <div class="swiper-order">
                <div class="swiper-prev swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                <span class="current">01</span>
                <span class="slash">/</span>
                <span class="total">04</span>
                <div class="swiper-next swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
              </div>
              <div class="swiper-info__items">
                <div class="item" data-aos="fade-up">
                  <h2 class="title">
                    <span class="font-600">이스라엘 키부츠</span>
                    를 통해
                    <br />
                    세계와 가까워지자!
                  </h2>
                  <p class="desc">
                    세계의 청년들이 매일 찾아오는 이곳!
                    <br />
                    키부츠 봉사도 하고 이스라엘 여행도 같이 떠나요
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-img__second">
          <div class="swiper-info">
            <div class="area">
              <div class="swiper-order">
                <div class="swiper-prev swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                <span class="current">02</span>
                <span class="slash">/</span>
                <span class="total">04</span>
                <div class="swiper-next swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
              </div>
              <div class="swiper-info__items">
                <div class="item" data-aos="fade-up" data-aos-duration="1000">
                  <h2 class="title" data-aos="fade-up">
                    <span class="font-600">이스라엘 키부츠</span>
                    를 통해
                    <br />
                    세계와 가까워지자!
                  </h2>
                  <p class="desc" data-aos="fade-down">
                    세계의 청년들이 매일 찾아오는 이곳!
                    <br />
                    키부츠 봉사도 하고 이스라엘 여행도 같이 떠나요
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-img__third">
          <div class="swiper-info">
            <div class="area">
              <div class="swiper-order">
                <div class="swiper-prev swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                <span class="current">03</span>
                <span class="slash">/</span>
                <span class="total">04</span>
                <div class="swiper-next swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
              </div>
              <div class="swiper-info__items">
                <div class="item" data-aos="fade-up" data-aos-duration="1000">
                  <h2 class="title" data-aos="fade-up">
                    <span class="font-600">이스라엘 키부츠</span>
                    를 통해
                    <br />
                    세계와 가까워지자!
                  </h2>
                  <p class="desc" data-aos="fade-down">
                    세계의 청년들이 매일 찾아오는 이곳!
                    <br />
                    키부츠 봉사도 하고 이스라엘 여행도 같이 떠나요
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-img__fourth">
          <div class="swiper-info">
            <div class="area">
              <div class="swiper-order">
                <div class="swiper-prev swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                <span class="current">04</span>
                <span class="slash">/</span>
                <span class="total">04</span>
                <div class="swiper-next swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
              </div>
              <div class="swiper-info__items">
                <div class="item" data-aos="fade-up" data-aos-duration="1000">
                  <h2 class="title">
                    <span class="font-600">이스라엘 키부츠</span>
                    를 통해
                    <br />
                    세계와 가까워지자!
                  </h2>
                  <p class="desc">
                    세계의 청년들이 매일 찾아오는 이곳!
                    <br />
                    키부츠 봉사도 하고 이스라엘 여행도 같이 떠나요
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="section2">
  <div class="section2-wrap">
    <div class="area">
      <div class="contents-box">
        <ul class="contents-box__ul">
          <li class="contents-box__list1">
            <div class="list-wrap">
              <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">
                  세계로 나아가는
                  <br />
                  <span class="font-600">우리나라의 청년들</span>
                </h2>
                <p class="desc">
                  키부츠 코리아는 만 18세 ~ 만 35세 청년들이 이스라엘에 가서 봉사활동을 할 수 있도록 정보를 알려주고
                  <br class="none-br" />
                  키부츠와 연결해주는 단체입니다. 키부츠로 가는 청년들의 안전을 위해 오늘도 노력을 거듭합니다.
                </p>
                <a href="" class="view-more"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
              </div>
            </div>
          </li>
          <li class="contents-box__list2">
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="floating-box"></div>
              <img src="img/section2-bg.jpg" alt="friends" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section3">
  <div class="section3-wrap">
    <div class="area">
      <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="title">
          키부츠 코리아를 즐기는
          <br />
          <span class="font-600">유용한 상품들</span>
        </h2>
        <p class="desc">안전하고 다양한 서비스로 편안하게 모시겠습니다.</p>
      </div>
      <article class="contents-box">
        <ul class="contents-box__ul">
          <li class="width50">
            <div class="list-wrap">
              <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
                <div class="category">어학연수</div>
                <h2 class="title font-600">Learning a Language Abroad</h2>
                <div class="sub-title">영어 · 히브리어 울판</div>
                <p class="desc">
                  영어는 물론 히브리어를 현지인들과 함께 공부하고
                  <br class="none-br" />
                  히브리어를 공부하는 다른 나라 학생들과 교류 할 수 있는
                  <br class="none-br" />
                  울판 키부츠로 떠나보세요.
                </p>
                <a href="" class="view-more"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
              </div>
            </div>
          </li>
          <li class="width50">
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="floating-box"></div>
              <img src="img/study1-1.png" alt="study" />
            </div>
          </li>
        </ul>
      </article>
      <article class="contents-box">
        <ul class="flex-row">
          <li class="width50">
            <div class="list-wrap">
              <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
                <div class="category">농업연수</div>
                <h2 class="title font-600">Agricultural Training</h2>
                <div class="sub-title">이스라엘 · 사막농업투어 · 낙농업</div>
                <p class="desc">
                  이스라엘의 낙농업 , 농업 관개 기술 , 유기농을 비롯하여 최근
                  <br class="none-br" />
                  이스라엘 산업 전반에서 두각을 나타내는 로봇 기술과 함께 이루어지고 있는
                  <br class="none-br" />
                  농업 자동화 시스템 등의 시설을 견학하는 농업 연수 일정을 진행합니다.
                </p>
                <a href="" class="view-more"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
              </div>
            </div>
          </li>
          <li class="width50">
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="floating-box"></div>
              <img src="img/cow-1.jpg" alt="cow" />
            </div>
          </li>
        </ul>
      </article>
      <article class="contents-box">
        <ul class="contents-box__ul">
          <li class="width50">
            <div class="list-wrap">
              <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
                <div class="category">키부츠 자원봉사</div>
                <h2 class="title font-600">Kibbutz Volunteer</h2>
                <div class="sub-title">봉사 · 청년 · 영어회화</div>
                <p class="desc">
                  세계 각지의 청년들과 생각을 공유해보고 생각할 수 있는
                  <br class="none-br" />
                  이스라엘 키부츠에 모여 봉사하며
                  <br class="none-br" />
                  Volunteer를 위한 이스라엘 투어도 떠나보세요.
                </p>
                <a href="" class="view-more"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
              </div>
            </div>
          </li>
          <li class="width50">
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="floating-box"></div>
              <img src="img/volunteer.jpg" alt="volunteer" />
            </div>
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
<section class="section4">
  <div class="bg-wrap">
    <div class="bg">
      <div class="area">
        <ul class="flex-row">
          <li class="width50">
            <div class="list-wrap">
              <div class="text-wrap" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title font-600">
                  Kibbutz Volunteer
                  <br class="none-br block" />
                  자원봉사 키부츠
                  <br class="none-br block" />
                  추천 목록
                </h2>
                <a href="" class="view-more block"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
              </div>
            </div>
          </li>
          <li class="width50">
            <div class="kibuttz-list" data-aos="fade-up">
              <h3 class="title font-600">전 세계에서 유일하게 이스라엘에만 있는 “키부츠”</h3>
              <p class="desc">세계 각지의 청년들과 생각을 공유해보고 생각할 수 있는 이스라엘 키부츠에 모여 봉사하며 다양한 경험을 쌓고 Volunteer를 위한 이스라엘 투어도 떠나보세요.</p>
              <a href="" class="view-more res-menu"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
            </div>
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="inner">
                <img src="img/yot.jpg " class="block" alt="yotvata" />
                <img src="img/yot768.jpg" class="res-menu" alt="yotvata" />
                <h3 class="title font-600">요트바타 (Kibbutz Yotvata)</h3>
                <p class="desc">휴양도시 에일랏과 가깝다. 유제품 및 대추야자 등을 생산하는 키부츠로 낙농업이 주 생산업이고 발런티어들의 만족도가 높다.</p>
              </div>
            </div>
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="inner">
                <img src="img/lotan.jpg" class="block" alt="lotan" />
                <img src="img/lotan768.jpg" class="res-menu" alt="lotan" />
                <h3 class="title font-600">로탄 (Lotan Kibbutz)</h3>
                <p class="desc">1983년에 창립된 친환경 키부츠로친환경 관광업, 친환경 워크샵 등을 유치했다. 농장, 게스트하우스 등에서 봉사한다</p>
              </div>
            </div>
            <div class="img-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="inner">
                <img src="img/gev.jpg" class="block" alt="eingev" />
                <img src="img/gev768.jpg" class="res-menu" alt="eingev" />
                <h3 class="title font-600">엔게브(Kibbutz Ein-gev)</h3>
                <p class="desc">갈릴리 호수를 접하며 농촌 관광을 발달시킨 대표적인 키부츠이다. 게스트하우스, 레스토랑 , 꼬마기차 등 관광시설에서 봉사한다.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section5">
  <div class="section5-wrap">
    <div class="area">
      <h3 class="title font-600" data-aos="fade-up">이스라엘 봉사 & 연수 떠나기 전 확인하세요.</h3>
      <article class="card-wrap">
        <ul class="card-flex">
          <li class="card-list" data-aos="flip-up" data-aos-duration="1500">
            <a href="" class="card-list__first card-padding">
              <h3 class="title font-600">KIBBUTZ & ISRAEL</h3>
              <p class="desc">이스라엘 날씨 , 주한 이스라엘 대사관</p>
              <div class="view-more"><span>VIEW MORE</span><i class="fa-solid fa-right-long"></i></div>
            </a>
          </li>
          <li class="card-list" data-aos="flip-up" data-aos-delay="150" data-aos-duration="1500">
            <a href="" class="card-list__second card-padding">
              <h3 class="title font-600">여권/비자 신청</h3>
              <p class="desc">여권 , 미국비자 , 중국비자 ,기타국가비자</p>
              <div class="view-more"><span>VIEW MORE</span><i class="fa-solid fa-right-long"></i></div>
            </a>
          </li>
          <li class="card-list" data-aos="flip-up" data-aos-delay="300" data-aos-duration="1500">
            <a href="" class="card-list__third card-padding">
              <h3 class="title font-600">해외보험</h3>
              <p class="desc">여행자보험 , 유학생보험</p>
              <div class="view-more"><span>VIEW MORE</span><i class="fa-solid fa-right-long"></i></div>
            </a>
          </li>
        </ul>
      </article>
    </div>
    <img class="block" src="img/back1.JPG" alt="bg" />
  </div>
</section>
<section class="section6">
  <div class="section6-wrap">
    <div class="area">
      <ul class="flex-row">
        <li class="board-title">
          <h2 class="title font-600">
            공지사항 &
            <br />
            이스라엘 뉴스
          </h2>
        </li>
        <li class="board-list">
          <% for(let i = 0; i < 1; i++) { %>
          <div class="board-wrap">
            <div class="board-list__author">
              <a href="content?id=<%= rows[i].id %>">
                <span>키부츠코리아</span>
              </a>
            </div>
            <div class="board-list__title">
              <a href="content?id=<%= rows[i].id %>">
                <span><%= rows[i].title %></span>
              </a>
            </div>
            <div class="board-list__date">
              <a href="content?id=<%= rows[i].id %>">
                <span><%= rows[i].create_time %></span>
              </a>
            </div>
          </div>
          <% } %>
          <a href="/inform" class="view-more"> <span>VIEW MORE</span><i class="fa-solid fa-right-long"></i> </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section7">
  <div class="section7-wrap">
    <div class="section7-bg" data-aos="fade-up" data-aos-delay="1000"></div>
    <div class="area">
      <h2 class="title" data-aos="fade-up">
        <span class="font700">업계 최고, 1등 기업</span>
        <br />
        키부츠코리아와 함께
        <br />
        세계를 넘어 체험을 시작해보세요.
      </h2>
    </div>
  </div>
</section>
